body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

.container-fluid {
  border:2px solid rgb(151, 18, 127)
}
.col {
  padding: 1rem;
  background-color: #0e5f7c;
  border: 3px solid #fff;
  color: #fff;
  text-align: center;
}

.row{
  padding: 1rem;
  background-color: #7c360e;
  border: 3px solid rgb(18, 151, 40);
  color: #fff;
  text-align: center;
}

* {
  color: #fff;
  padding: 2px;
  background-color: #05222c;
}